.productsContainer{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    flex-wrap: wrap
}

.product{
    width: 282px;
    height: 370px;
    margin-bottom: 24px;
    cursor: pointer;
    position: relative;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Картинка */

.productImage{
    width: 282px;
    height: 260px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Цена, тайтл, звёзды ,стрелочка */

.productTitle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #000000;

    margin: 10px 0 10px 10px;
}

.productPrice{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    margin: 10px 0 10px 10px;
}

.productArrow{
    position: absolute;
    right: 10%;
}

/* Кнопка корзины */

.busketBtn{
    margin: 0 10px 0 10px;
    border: none;
    padding: 6px;
    background-color: rgba(243, 126, 184, 0.486);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Модалка */

.productModalContent{
    display: flex;
    align-items:flex-start;
    padding: 0 3% 0 3%;
    font-size: 18px;
    position: relative
}

/* Основная информация модального окна с товаром */

.productDescWrap{
    padding: 0 2% 0 2%;
}

.productModalTitle{
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}

.productModalDesc{
    max-width: 500px;
}

/* Контейнер с ценой и кнопкой */

.modalBucketWrap{
    display: flex;
    align-items: center;
    position:absolute;
    bottom: 0;
    width: 500px;
}

.productModalBtn{
    margin-left: 10%;
    padding: 10px 15px 10px 15px;
    background: #B67B8E;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    color: white;
    padding: 20px;
    transition: 0.3s;
}

.productModalBtn:hover{
    background: #dba4b6;
}

.productModalPrice{
    text-align: right;
    padding-left: 35%;
}

/* Общие стили для текста в модалке */

.productModalContent p{
    margin: 8px 0 8px 0 ;
}


/* Картинка-слайдер модалки */

.productImageWrap{
    width: 100%;
    max-width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 15%;
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.349);
}

.productModalPhoto{
    border-radius: 15%;
    width: 100%;
    position: relative;
    width: 100%;
    height: 100%;
}

.productPhotoNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    width: 300px;
}

.navNext, .navPrev{
    position: relative;
    font-size: 24px;
    color: rgb(73, 44, 71);
    cursor: pointer;
    padding: 100% 10px 100% 10px;
    border-radius: 10px;
}

.navNext:hover{
    background-color: rgba(5, 5, 5, 0.082);
    transition: 0.3s;
}

.navPrev:hover{
    background-color: rgba(5, 5, 5, 0.082);
    transition: 0.3s;
}

.productModalPhotoWrap{
    display: flex;
    align-items: center;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 100%;
    left: 0;
}


/* Комментарии к товару */

.productModalCommentsWrap{
    width: 100%;
    max-width: 80%;
    height: 250px;
    overflow: hidden;
    display: flex;
    position: relative;
    margin: 5% 9%;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.productModalComments{
    display: flex;
    align-items: center;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 100%;
    left: 0;
}

.productModalCommentWrap{
    /* min-width: 800px;
    max-width: 800px;
    position: relative; */
}

.productModalComment{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    max-width: 800px;
    position: relative;
}

.productCommentsNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 800px;
    height: 100%;
}

.navPrevComment, .navNextComment{
    position: relative;
    font-size: 24px;
    color: rgb(73, 44, 71);
    cursor: pointer;
    padding: 100% 10px 100% 10px;   
    border-radius: 10px;
}

.navNextComment:hover{
    background-color: rgba(5, 5, 5, 0.082);
    transition: 0.3s;
}

.navPrevComment:hover{
    background-color: rgba(5, 5, 5, 0.082);
    transition: 0.3s;
}

.productCommentsFalse{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    max-width: 800px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}