.productsContainer{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    flex-wrap: wrap
}

.product{
    width: 282px;
    height: 370px;
    background-color: #f368e73b;
    margin-bottom: 24px;
    border-radius: 10px;
}

/* Картинка */

.productImage{
    width: 282px;
    height: 260px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

/* Цена, тайтл, звёзды ,стрелочка */

.productInfo{
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productTitle{
    font-size: 20px;
    line-height: 140%;
    margin: 10px 0 10px 0;
}

.productPrice{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    margin: 10px 0 10px 0;
}

/* Кнопка корзины */

.busketBtn{
    margin: 0 10px 0 10px;
    border: none;
    padding: 6px;
    background-color: rgba(243, 126, 184, 0.486);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}