.header{
    width: 1200px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0 ;
}

/* Списки */

.listContent{
    display: flex;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.1em;
    color: #000000;
}

.listItem{
    list-style-type: none;
    margin: 0 15px 0 15px;
    cursor: pointer;
}

.mainList{
    margin-left: 300px;
}

/* Корзина */

.headerBusket{
    display: flex;
    font-size: 12px;
    align-items: center;
    cursor: pointer;
}

.busketCounter{
    margin-top: 25px;
}